* {
    padding: 0;
    margin: 0;
}

.header {
    position: relative;
    animation-duration: 3s;
    animation-name: header;
    display: flex;
    position: sticky;
    background-color: #81c8ff;
    width: auto;
    height: 150px;
    box-shadow: white;
    box-shadow: 0px 10px 25px rgb(255, 255, 255);
    animation-fill-mode: backwards;
}

.mainCube{
    font-size: 60px;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 0px;
    background-color: #48C75D;
    width: auto;
    height: 100px;
    color: white;
    background-color: black;
}
.realMainCube{
    display:flex;
}

.mainCube2 {
    border-radius: 300px;
    padding: 10px;
    animation-name: mainCube2;
    animation-duration: 2s;
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
    margin-top:800px;
}

.mainCube2 img {
    width: 700px;
    height: 640px;
}

.header1 {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.header2 ul {
    margin-top: 8px;
    font-size: 50px;
    gap: 300px;
    list-style: none;
    display: flex;
    margin-left: 30px;
    color: #172D61;
}

.li-header1 {
    margin-left: 50px;
    animation-name: hoverHeaderOut;
    animation-duration: 0.5s;
    position: relative;
    border-radius: 50px;
    margin-top: 35px;
    background-color: #4AB1FF;
    font-size: 25px;
    gap: 300px;
    box-shadow: 0px 10px 25px lightblue;
    animation-fill-mode: forwards;
}

.li-header2 {
    animation-duration: 0.5s;
    animation-name: hoverHeaderOut;
    position: relative;
    border-radius: 50px;
    margin-top: 35px;
    background-color: #4AB1FF;
    font-size: 25px;
    gap: 300px;
    box-shadow: 0px 0px 25px lightblue;
    animation-fill-mode: forwards;
}

#header2 {
    animation-timing-function: ease-in;
}

.divimg {
    display: grid;
    place-items: center;
    background: green;
}

.imgtop {
    padding: 100px;
    width: 300px;
    height: 200px;
    position: fixed;
    margin-top: 100px;
}

.imgtop::after {
    opacity: 0;
    content: hidden;
}

@keyframes header {
    from {
        top: 400px;
    }
    to {
        top: 0px;
    }
}

@keyframes hoverHeaderOut {
    from {
        background-color:#9ad2fd;
        color: rgb(255, 255, 255);
        border-radius: 25px;
        padding: 35px;
        margin-top:10px;
    }
    to {
        top:auto;
        background-color: #4AB1FF;
        color: black;
        border-radius: 50px;
        padding: 25px;
    }
}

@keyframes hoverHeaderIn {
    from {
        background-color: #4AB1FF;
        color: black;
        top: auto;
        padding: 25px;
        border-radius: 50px;
        margin-top: 35px;
    }
    to {
        border-radius: 25px;
        padding: 35px;
        background-color: #9ad2fd;
        color: white;
        top: 0px;
    }
}

@keyframes mainCube2{
    from{
        margin-top: 800px;
    }
    to{
        margin-top: 25px;
    }
}

.mainCube2 {
    animation-name: mainCube2;
    animation-duration: 2s;
    position: relative;
    margin-top:25px;
}

.li-header2:hover {
    position: relative;
    animation-name: hoverHeaderIn;
    animation-duration: 0.4s;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #9ad2fd;
    font-size: 25px;
    gap: 300px;
    box-shadow: 0px 0px 25px lightblue;
    color: white;
    animation-fill-mode: forwards;
}

.li-header1:hover {
    padding: 30px;
    position: relative;
    animation-name: hoverHeaderIn;
    animation-duration: 0.4s;
    margin-top: 10px;
    background-color: #9ad2fd;
    font-size: 25px;
    gap: 300px;
    box-shadow: 0px 0px 25px lightblue;
    animation-fill-mode: forwards;
}
.mainCube2:hover{
    background-image: url(../img/guywithnotebook.png);
}